body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body {
  margin-top: 100px;
}

.box{
  width: 40%;
  margin: 10px;
  min-height: 100px;
  border: 1px solid black;
}

.big-box{
  min-width: 100%;
  margin: 10px;
  border: 1px solid black;
  min-height: 220px;
}
